<div class="container">
  <div class="todo-list">
    <h1>Todo List</h1>
    <div>
      <input [(ngModel)]="todo.Title" type="text" placeholder="Add a new task..." />

      <button [disabled]="!todo.Title" (click)="addTodo()" type="submit">
        {{ todo.Id ? 'Update' : 'Add' }}
      </button>
    </div> 

    <ul>
      <li *ngFor="let item of todoList">
        <label>{{ item.Title }}</label>
        <div class="icons">
          <i (click)="editTodo(item)" class="fa-solid fa-pen-to-square"></i>
          <i (click)="deleteTodo(item.Id)" class="fa-solid fa-xmark"></i>
        </div> 
      </li>
    </ul>
  </div>
</div>
